@media only screen and (max-width: 916px) and (orientation: landscape) {
  .form {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .form-heading {
    grid-column: 1/3;
    justify-self: center;
    display: block;
    width: 100% !important;
  }
}
