@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 376px) {
  html {
    font-size: 85%;
  }

  .drop-down {
    top: 65px;
  }

  .drop-down-close {
    top: 65px;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 63%;
  }

  .drop-down {
    top: 46px;
  }

  .drop-down-close {
    top: 46px;
  }
}
